# separate copy needed to use /sbin/linker64 instead of /system/bin/linker64
service sbinqseecomd /sbin/qseecomd
    oneshot
    disabled
    user root
    group root
    seclabel u:r:recovery:s0

service quotafix /sbin/quotafix.sh
    disabled
    oneshot
    user root
    group root
    seclabel u:r:recovery:s0

on fs
    chmod 0660 /dev/qseecom
    chown system drmrpc /dev/qseecom
    chmod 0664 /dev/ion
    chown system system /dev/ion

on post-fs
    # start clearpad_post_probe when filesystem is available for fwflash
    write /sys/devices/virtual/input/clearpad/post_probe_start 1

on boot
    start sbinqseecomd

on property:ro.crypto.state=unencrypted
    start quotafix

on property:ro.crypto.fs_crypto_blkdev=/dev/block/dm-0
    start quotafix
